
  .inp{
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    border-radius: 4px;
  }
  .create-user-btn{
  float: right;
  background-color: #f9610a;
    
  }
  .login-modal .modal-dialog {
    max-width: 516px !important;
}
.login-modal input.inp {
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 4px 10px;
  font-style: italic;
  margin-top: 4px;
  font-size: 16px;
}

.login-modal input.inp::placeholder {
  color: #000;
  opacity: 0.6;
}

.btn:hover {
    /* color: var(--bs-btn-hover-color); */
    background-color: #ff5d00;
    border-color: var(--bs-btn-hover-border-color);
}