/* styles.css */

.back-button {
  background-color: #f96112;
  color: #fff;
  padding: 6px 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12.93px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 20px;
  width: 114px;
  justify-content: center;
}
  
  .back-button:hover {
    background-color: #f96112;
  }
  
  .back-button span {
    margin-right: 5px;
  }
  